*{
	font-family: Arial;
	margin: 0;
}

.wrapper{
	width: 968px;
	margin: 0 auto;
}

/* Blocks */

.sectionBlocks .wrapper img{
	max-width: 450px;
	margin-right: 10px;
}

.sectionBlocksFlex{
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-bottom: 25px;
}

.sectionBlocks .wrapper h2{
	display: flex;
	justify-content: space-evenly;
	padding-top: 25px;
}

.sectionBlocksFlex2 p{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Versnellen */

.sectionAccelerated{
	background-color: #9BD83E;
	padding-top: 25px;
	padding-bottom: 25px;
}

.sectionAccelerated h2{
	color: #9735AF;
	font-size: 35px;
	margin-bottom: 10px;
}

/* Mediaquery */

@media only screen and (max-width: 1000px) {
  .sectionBlocksFlex {
    flex-direction: column;
  }
  .wrapper{
  	width: auto;
  }
}