*{
	font-family: Arial;
	margin: 0;
}

html{
	/*scroll-behavior: smooth;*/
}

/* Header */

.sectionHeader{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sectionHeader img{
	max-width: 150px;
}

.sectionHeader{
	background-color: #03357c;
	padding-top: 15px;
	padding-bottom: 15px;
}

.sectionHeader a{
	text-decoration: none;
	margin-left: 10px;
	color: #2ADD5D;
	font-weight: 600;
}

.sectionHeader a:hover{
	border-bottom: 2px solid #2ADD5D;
	margin-bottom: 5px;
}

.wrapper{
	width: 968px;
	margin: 0 auto;
}

/* Blocks */

.sectionBlocks .wrapper img{
	max-width: 450px;
	margin-right: 10px;
}

.sectionBlocksFlex{
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.sectionBlocks .wrapper h2{
	display: flex;
	justify-content: space-evenly;
	padding-top: 25px;
}

.sectionBlocksFlex2 p{
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Versnellen */

.sectionAccelerated{
	background-color: #03357c;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #2ADD5D;
}

/* Vakken */

.sectionSubjects{
	padding-top: 25px;
	padding-bottom: 25px;
}

.subject{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Huiswerk */

.sectionHomework{
	background-color: #03357c;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #2ADD5D;
}

/* Rooster */

.sectionSchedule{
	padding-top: 25px;
	padding-bottom: 25px;
}

.sectionSchedule img{
	max-width: 950px;
}

.sectionScheduleFlex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Teachers */

.sectionTeachers{
	background-color: #03357c;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #2ADD5D;
}

.sectionTeachers2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 25px;
}

.teacher img{
	height: 200px;
	width: 200px;
}

.teacherFlex{
	display: flex;
	flex-direction: column;
}

/* Footer */

.sectionFooter .wrapper{
	color: white;
	text-align: center;
}

.sectionFooter{
	background-color: black;
	padding-top: 25px;
	padding-bottom: 25px;
}

/* Mediaquery */

@media only screen and (max-width: 1000px) {
  .sectionBlocksFlex {
    flex-direction: column;
  }
  .wrapper{
  	width: auto;
  }
  .sectionTeachers2{
	grid-template-columns: 1fr;
  }
}